html {
    height: 100%;
    min-height: 100%,
}
.navbar{
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 30px;
    grid-template-areas:
    "about store . gmail images menu signin";
}

#about {
    grid-area: about;
 }
 #store { 
     grid-area: store;
 }
 #gmail { 
     grid-area: gmail;
 }
 #images { 
     grid-area: images;
}
 #menu { 
     menu;
}
 #signin { 
     grid-area: signin;
     justify-self: center;
     align-self: top;
}



a {text-decoration: none; color: rgb(34, 32, 32)}

.main { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 70px 70px 200px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". . .";   
}

 #logo {
    grid-area: logo;
    align-self: end;
    justify-self: center;
 }
 #search {
     grid-area: search;
     border: 1px solid rgb(83, 80, 80);
     border-radius: 45px;
     height: 35px;
     width: 100%;
     justify-self: bottom;
     align-self: center;
    }

 #search:hover {
box-shadow: 1px 1px 5px rgb(151, 149, 149);
}
 #flexbox {
     display: flex;
     grid-area: flexbox;
     align-self: center;
     justify-self: center;
     height: 40px;
     border: none;
     }
#flexbox:hover{
    box-shadow: 1px 1px 5px rgb(151, 149, 149);
}
#google-search-btn{
    margin-right: 25px;
}
 #lucky-button{
    margin-left: 25px;
}



.footer{
    display: grid;
    background-color: lightgrey;
    grid-template-columns:50x 50px 50px 1fr 50px 50px;
    grid-template-rows: 65px;
    grid-template-areas:
    "advertising business howsearchworks text privacy terms settings";
}

#advertising{
    grid-area: advertising;
    align-self: center;
    justify-self: left;

}
#business {
    grid-area: business;
    align-self: center;
    justify-self: left;
}
#howsearchworks {
    grid-area: howsearchworks;
    align-self: center;
    justify-self: left;
}
#text {
    grid-area: text;
}
#privacy {
    grid-area: privacy;
    align-self: center;
    justify-self: right;
}
#terms {
    grid-area: terms;
    align-self: center;
    justify-self: right;
}
#settings { 
    grid-area: settings;
    align-self: center;
    justify-self: right;
}
